<h1 class='recipe-heading'>Recipes List</h1>

<ul>
<% if @recipes.blank? %>
  <p>No recipe available</p>
<% else %>
  <% @recipes.each do |recipe| %>
    <div class='recipe-container'>     
          <div class='left-side'>
            <%= link_to recipe.name, recipe_path(recipe) %>
            <% if recipe.user == current_user %>
              <%= button_to "Remove", recipe_path(recipe), method: :delete, class: "btn btn-danger" %>
            <% end %>
          </div> 
          <div class='right-side'>
            <h2>Description: <%= recipe.description %> </h2>           
          </div>           
    </div>
  <% end %>
  <% end %>
</ul>
<%= link_to "Add New Recipe", new_recipe_path %>